.frameChild,
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  left: 647px;
  border-radius: 0 var(--br-mini) 0 0;
  background-color: var(--color-yellowgreen-200);
  width: 254px;
  height: 69px;
}
.frameInner,
.frameItem {
  top: 80px;
  left: 0;
  width: 269px;
}
.frameInner {
  top: 170px;
  left: 296px;
  width: 249px;
}
.rectangleParent {
  width: 901px;
  height: 239px;
  position: relative;
  display: none;
  max-width: 100%;
}
.headerFrameChild {
  align-self: stretch;
  height: 870px;
  position: relative;
  display: none;
}
.headerFrame,
.headerFrameChild,
.headerGroupChild {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgoldenrodyellow);
}
.headerFrame {
  width: 1784px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 156px;
  box-sizing: border-box;
  gap: var(--gap-112xl);
  max-width: 100%;
}
.headerGroupChild {
  align-self: stretch;
  height: 1054px;
  position: relative;
  display: none;
}
.yourFinancialToolkit {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.frameMonth {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.frameGroup,
.frameText {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 449px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frameText {
  width: 631px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.desktop,
.groupGetStarted,
.headerGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.groupGetStarted {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xl);
  max-width: 100%;
}
.desktop,
.headerGroup {
  box-sizing: border-box;
}
.headerGroup {
  width: 1784px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgoldenrodyellow);
  align-items: flex-start;
  padding: 122px 0 var(--padding-115xl);
  gap: var(--gap-43xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: 32px 0 44px;
  gap: var(--gap-103xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1825px) {
  .headerFrame,
  .headerGroup {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1350px) {
  .headerFrame {
    gap: var(--gap-112xl);
  }
  .headerGroup {
    padding-top: 79px;
    padding-bottom: var(--padding-68xl);
    box-sizing: border-box;
  }
  .desktop {
    gap: var(--gap-103xl);
  }
}
@media screen and (max-width: 925px) {
  .headerFrame {
    gap: var(--gap-112xl);
    padding-top: var(--padding-xl);
    padding-bottom: 101px;
    box-sizing: border-box;
  }
  .yourFinancialToolkit {
    font-size: var(--font-size-17xl);
    line-height: 56px;
  }
  .headerGroup {
    gap: var(--gap-43xl);
    padding-top: 51px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .desktop {
    gap: var(--gap-103xl);
  }
}
@media screen and (max-width: 450px) {
  .headerFrame {
    gap: var(--gap-112xl);
    padding-bottom: 66px;
    box-sizing: border-box;
  }
  .yourFinancialToolkit {
    font-size: var(--font-size-8xl);
    line-height: 42px;
  }
  .headerGroup {
    gap: var(--gap-43xl);
  }
}
